<!DOCTYPE html>
<html ng-app="billCalculator">

<head>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
</head>

<body ng-controller="HeroesCtrl">

	<h1>418 分赃工具 1.0</h1>

    <section>
        <form ng-submit="add_hero()">
            <input required id="hero_name" type="text" ng-model="heroName"></input>
            <button type="submit">Add Hero</button>
        </form>
    </section>

    <section>
        <div class="hero" ng-repeat="hero in heroes">
            <p>Name: {{hero.name}}
                <button ng-click="delete_hero($index)">&times;</button>
            </p>
            <input type="number" ng-model="hero.val"></input>
        </div>
    </section>

    <section>
        <button ng-click="calc()">算账！</button>
        <pre>{{result}}</pre>
    </section>

</body>

</html>
